.container {
    width: 100%;
    height: 100%
}
.no-margin {
    padding: 0;
    margin: 0;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.main-cell {
    flex: 1 0;
}