$color-black: #2a2a2a;
$color-white: #fafafa;

$color-error: #da2442;
$color-warning: #f5a623;
$color-success: #008945;
$color-info: #4a5de2;

$color-primary-1: #b48f2a;
$color-primary-2: #a37e1b;
$color-secondary-1: #eddfbb;
$color-secondary-2: #dcceaa;

$color-gray-1: #5a5a5a;
$color-gray-2: #8a8a8a;
$color-gray-3: #aaaaaa;
